GitTrialApp/GitTrialApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GitTrialApp/GitTrialApp.xcodeproj/project.xcworkspace/xcuserdata/Suhas.xcuserdatad/UserInterfaceState.xcuserstate
GitTrialApp/GitTrialApp.xcodeproj/xcuserdata/Suhas.xcuserdatad/xcschemes/GitTrialApp.xcscheme
GitTrialApp/GitTrialApp.xcodeproj/xcuserdata/Suhas.xcuserdatad/xcschemes/xcschememanagement.plist
GitTrialApp/GitTrialApp/GitTrialApp.xcdatamodeld/.xccurrentversion
GitTrialApp/GitTrialApp/GitTrialApp.xcdatamodeld/GitTrialApp.xcdatamodel/contents
